:root {
  --background: #fdfcff;
  --text-primary: #1b1c1d;
  --text-secondary: #43474e;
  --border: #d8dee9;
  --accent: #5e81ac;
  --sidebar-bg: #eceff4;
  --link-color: #5e81ac;
  --hover: #eceef4;
}

.dark {
  --background: #1b1c1d;
  --text-primary: #f8f9ff;
  --text-secondary: #c3c6cf;
  --border: #434c5e;
  --accent: #a1c9fd;
  --sidebar-bg: #2e3440;
  --link-color: #a1c9fd;
  --hover: #32353a;
}